@font-face {
    font-family: "signature";
    src: url("../dist/assets/fonts/HomemadeApple-Regular.ttf");
}

@font-face {
    font-family: "punk";
    src: url(../dist/assets/fonts/Mustasurma.ttf);
}


html,
body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar{
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* div {
    border: 1px solid blue;
} */

.body-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: auto;
}

/* Header Styles */
.header {
    font-family: "punk";
    font-size: 64px;
    position: sticky;
    top:0;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: rgba(220,20,60);
    padding: 30px 0px;
}

.title-wrapper {
    display: flex;
    gap: 100px;
}

/* Header Hidden Effect */
@media (max-width: 2470px) {
    #hide {display: none;}
}

@media (max-width: 3720px) {
    #hide2 {display: none;}
}

@media (max-width: 700px) {
    #logo {display: none;}
}

/* Logo Styles */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    transition: transform .5s ease-in-out;
}

#logo:hover {
    transform: rotate(360deg);
}

/* Options Styles */

.tab-name {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    padding: 20px 0px;
    /* position: sticky;
    top: 160px; */
    /* background-color: blue; */
}

/* Body Styles */

.content-wrapper {
    flex: 5 1 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.content-div{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 600px;

}

/* About Us Styles */

.content-main-header {
    font-family: "punk";
    font-size: 38px;
}

.signature {
    font-family: "signature";
    font-size: 24px;
}

/* Contact Us Styles */

.chef,
.chief,
.freedom {
    width: 200px;
    height: 175px;
}

.chef {
    background-image: url("../dist/assets/info.jpg");
}

.chief {
    background-image: url("../dist/assets/chef.jpg");
    
}

.freedom {
    background-image: url("../dist/assets/freedom.jpg");
    background-position: -30px;
}

/* Footer Styles */

.footer {
    position: sticky;
    bottom: 0;
    background-color: black;
}